
.row, .column {
    display: flex;
    flex: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.active-route {
    background: gray;
}

nav a {
    border: solid black 2px;
    border-radius: 6px;
    padding: 5px;
    background: white;
}