body {
    font-family: sans-serif;
}

h1, h2, h3, .btn {
    font-variant: small-caps;
}

.row, .column {
    display: flex;
    flex: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.btn {
    margin: 0 .5rem;
    padding: .5rem;
    border: 2px solid #ccc;
    text-align: center;
    background: 0 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn.active {
    border-color: #2d94da;
    background-color: #3498db;
    color: #fff;
}

.no-margin {
    margin: 0;
}

.spacer {
    flex-grow: 100;
}

header {
    background-color: rgba(10,10,10,.20);
}
